@model IList<SistemaEstoqueVendas.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2 align="center">Pagina em construção</h2>
        <h4 align="center">Devido o sistema ainda estar em contrução esta area ainda não foi desenvolvida!!!</h4>
    </div>
</body>
</html>
